* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
nav ul li a:hover {
  color: #00b172;
}

.inicio {
  color: white;
  background: url("../images/landing.png");
  width: 100%;
  height: 100vh;
}

.texto {
  text-align: center;
  margin-top: 220px;
}

.spotify {
  width: 100%;
  height: 70vh;
  padding: 30px 90px;

  h2 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
  }
}

.feature img {
  width: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.feature {
  text-align: center;
}

/*titulo HD Music das funcionalidades*/
.hdmusic {
  margin-top: 11px;
}

.features {
  display: flex;
  justify-content: space-around;
  text-align: center;
  p{
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
  }
  h3 {
    color: #00b172;
  }
}

.texto-final {
  width: 470px;
  padding: 20px;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;
  padding-top: 30px;
  h2 {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 10px;
    text-decoration: underline;
  }
}

/* subtítulo da ultima seção */
.discover {
  display: inline-block;
  justify-content: space-between;
  padding: 10px;
  width: 260px;
  text-align: center;
  margin-left: 55px;
}

.final {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: #00b172;
}

.logo-final img {
  width: 150px;
}

.logo-final{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.kanye{
width: 25%;
height: 40%;
align-items: center;
}

.kanye img{
  width: 300px;
  height: 600px;
  border-radius: 10px;
  margin-top: 55px;
  margin-right: 5px;
}